@use '../../../Other/Styles/Styles';

.recentAlbums {
  grid-area: RecentAlbums;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 20em;
  height: 100%;
  padding: .5em .5em 1em .5em;
}

.recentAlbums h2 {
  color: Styles.$PRIMARY_COLOR;
  width: max-content;
  margin: .5em auto .75em auto;
  border-bottom: 1px solid Styles.$SECONDARY_COLOR;
}

.recentAlbums > article {
  flex: 1 2 auto;
  height: 30%;
  transition: all 350ms ease-in-out;
  transition-property: height;
}

.recentAlbums article:hover {
  flex-basis: auto;
  height: 40%;
}

@media ( max-width: 750px ) {

  .recentAlbums > article {
    height: 30%;
  }

  .recentAlbums article:hover {
    flex-basis: auto;
    height: 40%;
  }
}
