.recentAlbums {
    width: 100%;
    height: 50em;
    grid-area: RecentAlbums;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }
  
  .recentAlbums h2 {
    margin: 0.5em auto;
    color: greenyellow;
  }
  
  .recentAlbums > article {
    flex: 1 2 30%;
  }
  
  .recentAlbums article:hover {
    flex-basis: 40%;
  }
  
  @media (max-width: 750px) {
    .recentAlbums > article {
      height: 30%;
    }
    .recentAlbums article:hover {
      flex-basis: 40%;
    }
  }
  