.recentAlbums {
	width: 100%;
	min-height: 20em;
	height: 100%;
	grid-area: RecentAlbums;
	display: flex;
	flex-direction: column;
	padding: 0.5em 0.5em 1em 0.5em;
}

.recentAlbums h2 {
	width: max-content;
	border-bottom: 1px solid #be37fa;
	margin: 0.5em auto 0.75em auto;
	color: #00ffaa;
}

.recentAlbums > article {
	flex: 1 2 30%;
}

.recentAlbums article:hover {
	flex-basis: 40%;
}

@media (max-width: 750px) {
	.recentAlbums > article {
		height: 30%;
	}
	.recentAlbums article:hover {
		flex-basis: 40%;
	}
}
