{
  "extends": "stylelint-config-recommended-scss",
  "plugins": [
    "stylelint-order",
    "stylelint-scss",
    "stylelint-prettier"
  ],
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "color-hex-case": "upper",
    "color-hex-length": "short",
    "color-named": "always-where-possible",
    "color-no-hex": true,
    "selector-max-id": 0,
    "selector-max-attribute": 0,
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "always",
    "selector-attribute-operator-space-before": "always",
    "selector-attribute-operator-space-after": "always",
    "selector-attribute-brackets-space-inside": "always",
    "declaration-block-trailing-semicolon": "always",
    "declaration-no-important": true,
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "value-no-vendor-prefix": true,
    "number-leading-zero": "never",
    "function-url-quotes": "always",
    "font-weight-notation": "named-where-possible",
    "font-family-name-quotes": "always-unless-keyword",
    "comment-whitespace-inside": "always",
    "comment-empty-line-before": "never",
    "at-rule-no-vendor-prefix": true,
    "rule-empty-line-before": "always",
    "selector-pseudo-element-colon-notation": "single",
    "selector-pseudo-class-parentheses-space-inside": "always",
    "selector-no-vendor-prefix": true,
    "media-feature-range-operator-space-before": "always",
    "media-feature-range-operator-space-after": "always",
    "media-feature-parentheses-space-inside": "always",
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always",
    "order/order": [
      "dollar-variables",
      "at-variables",
      "custom-properties",
      "declarations",
      "at-rules",
      "rules",
      "less-mixins"
    ],
    "order/properties-order": [
      "grid-area",
      "display",
      "visibility",
      "opacity",
      "z-index",
      "grid-template",
      "grid-template-areas",
      "grid-template-columns",
      "grid-column-start",
      "grid-column-end",
      "grid-column-gap",
      "grid-template-rows",
      "grid-row-start",
      "grid-row-end",
      "grid-row-gap",
      "flex",
      "flex-basis",
      "flex-direction",
      "flex-grow",
      "flex-shrink",
      "flex-wrap",
      "flex-flow",
      "justify-content",
      "order",
      "align-content",
      "align-items",
      "align-self",
      "float",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "vertical-align",
      "clear",
      "resize",
      "break-after",
      "break-before",
      "break-inside",
      "cursor",
      "user-select",
      "font",
      "font-family",
      "font-size",
      "font-size-adjust",
      "font-style",
      "font-stretch",
      "font-variant",
      "font-weight",
      "text-shadow",
      "text-align",
      "text-align-last",
      "text-justify",
      "text-overflow",
      "text-indent",
      "text-decoration",
      "text-decoration-color",
      "text-decoration-line",
      "text-decoration-style",
      "text-transform",
      "text-emphasis",
      "text-emphasis-color",
      "text-emphasis-position",
      "text-emphasis-style",
      "letter-spacing",
      "word-spacing",
      "word-break",
      "word-wrap",
      "line-height",
      "tab-size",
      "white-space",
      "content",
      "color",
      "background",
      "background-color",
      "background-image",
      "background-attachment",
      "background-position",
      "background-repeat",
      "stroke-dasharray",
      "stroke-dashoffset",
      "stroke-width",
      "filter",
      "max-width",
      "min-width",
      "width",
      "max-height",
      "min-height",
      "height",
      "object-fit",
      "object-position",
      "overflow",
      "overflow-x",
      "overflow-y",
      "clip",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "border",
      "border-style",
      "border-color",
      "border-width",
      "border-radius",
      "border-top",
      "border-top-color",
      "border-top-style",
      "border-top-width",
      "border-top-right-radius",
      "border-top-left-radius",
      "border-right",
      "border-right-color",
      "border-right-style",
      "border-right-width",
      "border-right-radius",
      "border-bottom",
      "border-bottom-color",
      "border-bottom-style",
      "border-bottom-width",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "border-left",
      "border-left-color",
      "border-left-style",
      "border-left-width",
      "box-shadow",
      "box-sizing",
      "outline",
      "outline-color",
      "outline-style",
      "outline-width",
      "list-style",
      "list-style-image",
      "list-style-position",
      "list-style-type",
      "table-layout",
      "caption-side",
      "border-collapse",
      "border-spacing",
      "empty-cells",
      "backface-visibility",
      "perspective",
      "perspective-origin",
      "transform",
      "transform-origin",
      "transform-style",
      "animation",
      "animation-delay",
      "animation-duration",
      "animation-timing-function",
      "transition",
      "transition-delay",
      "transition-duration",
      "transition-property",
      "transition-timing-function",
      "translate",
      "translate-x",
      "translate-y",
      "translate-x",
      "translate3d"
    ],
    "prettier/prettier": true
  }
}
