@use '../Styles/GlobalStyle';

.error {
  text-align: center;
  width: 100%;
  height: 100%;
}

.error img {
  max-width: 40%;
  margin: 2em auto .5em auto;
  padding: .5em;
}

.error h1 {
  color: GlobalStyle.$PRIMARY_COLOR;
  margin: 1em auto;
}

.error button {
  cursor: pointer;
  color: GlobalStyle.$PRIMARY_COLOR;
  background-color: GlobalStyle.$QUATERNARY_COLOR_MUTED;
  margin: 0 auto;
  padding: .5rem 1rem;
  border: none;
  border-radius: .75em;
}

.error button:hover,
.error button:focus {
  background-color: GlobalStyle.$QUATERNARY_COLOR;
  transition: background-color 500ms ease-in-out;
}

@media ( max-width: 600px ) {

  .error h1 {
    font-size: GlobalStyle.$X_SMALL_FONT;
  }
}
