.error{
  width: 100%;
  height: 100%;
  text-align: center;
}

.error img {
  padding:1em;
  width:20%;
  margin:5em auto .5em auto;
}
.error h1 {
  margin:.5em auto;
  color:rgb(90, 225, 125)
}

.error button {
  background-color: rgba(175, 10, 110, 0.6);
  color: #00ffaa;
  cursor: pointer;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.75em;
  border: none;
}

.error button:hover,
.error button:focus {
  background-color: rgb(175, 10, 110);
  transition: background-color 500ms ease-in-out;
}