.layout {
	display: grid;
	grid-template-columns: 3fr 1.25fr;
	grid-template-areas:
		'ImageBanner ImageBanner'
		'Bio RecentAlbums'
		'RecentArticles RecentAlbums'
		'Footer Footer';
}

@media (max-width: 1100px) {
	.layout {
		grid-template-columns: 1fr;
		grid-template-areas:
			'ImageBanner'
			'Bio'
			'RecentArticles'
			'RecentAlbums'
			'Footer';
	}
}
