@use '../../Other/Styles/GlobalStyle';

.postHeader {
  grid-area: PostHeader;
  padding-top: 2.5em;
  padding-bottom: 1em;
}

.postHeader h1 {
  font-size: GlobalStyle.$X_LARGE_FONT;
  line-height: .5em;
  color: GlobalStyle.$PRIMARY_COLOR;
  margin-right: .5em;
  margin-left: .5em;
}

.postHeader h2 {
  color: GlobalStyle.$PRIMARY_COLOR;
  margin-right: .5em;
  margin-left: 2em;
}

@media ( max-width: 1000px ) {

  .postHeader {
    padding-top: 3.5em;
  }

  .postHeader h1 {
    margin-left: .25em;
  }
}

@media ( max-width: 770px ) {

  .postHeader {
    padding-top: 2.5em;
  }

  .postHeader h1 {
    margin-bottom: .25em;
    text-align: center;
    margin-left: .8em;
  }
}

@media ( max-width: 550px ) {

  .postHeader h2 {
    font-size: GlobalStyle.$X_SMALL_FONT;
  }
}
