.link {
  width: max-content;
  height: max-content;
}

.facebook {
  background-image: url('http://localhost:3000/static/images/social/facebook.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url('http://localhost:3000/static/images/social/twitter.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.github {
  background-image: url('http://localhost:3000/static/images/social/github.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.google {
  background-image: url('http://localhost:3000/static/images/social/google.svg');
  background-position: center;
  background-repeat: no-repeat;
}
