// Fonts
$PRIMARY_FONT: Didact Gothic, serif;
$SECONDARY_FONT: Raleway, serif;

// Font Size
$X_LARGE_FONT: 2em;
$LARGE_FONT: 1.5em;
$MEDIUM_FONT: 1.25em;
$SMALL_FONT: 1em;
$X_SMALL_FONT: .75em;
$CALC_FONT_IB: calc(6vmin + 7vmax);
$CALC_FONT_LARGE: calc(4vmin + 3vmax);
$CALC_FONT_MEDIUM: calc(1.5vmin + 1.75vmax);
$CALC_FONT_SMALL: calc(2vmin + .5vmax);

// Colors
$BACKGROUND_COLOR: rgb(30, 30, 40);
$MODAL_BACKGROUND_COLOR: rgba(0, 0, 0, .7);
$BUTTON_COLOR: rgb(35, 40, 45);
$SIDEBAR_COLOR: rgb(20, 20, 30);
$SVG_COLOR: rgb(170, 170, 170);
$NAV_COLOR: rgba(45, 105, 165, .8);
$FONT_COLOR: Gainsboro;
//$PRIMARY_COLOR: rgb(90, 225, 125);
$PRIMARY_COLOR: rgb(0, 255, 170);
$PRIMARY_COLOR_MUTED: rgba(90, 225, 125, .5);
$SECONDARY_COLOR: rgb(190, 10, 255);
$SECONDARY_COLOR_MUTED: rgba(190, 10, 255, .5);
$TERTIARY_COLOR: rgb(45, 105, 165, 1);
$TERTIARY_COLOR_MUTED: rgba(45, 105, 165, .8);
//$TERTIARY_COLOR: rgb(75, 215, 140);
//$TERTIARY_COLOR_MUTED: rgba(75, 215, 140, 0.5);
$QUATERNARY_COLOR: rgb(255, 200, 90);
//rgba(175, 10, 110, .8)
$QUATERNARY_COLOR_MUTED: rgba(255, 200, 90, .5);
// rgb(15, 210, 55); Another Green Color
$BOXSHADOW_COLOR: rgba(30, 30, 40, .5);
