.postImg {
    position:relative;
    // Removes spacing of image in div -> border
    line-height:0;
    grid-area: PostImg;
    margin: .5em .5em 0 .5em;
    border:2px solid rgb(190, 55, 250);
    border-top-right-radius: .75rem;
    border-top-left-radius: .75rem;

  }
  .postImg img {
    width: 100%;
    height: 100%;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
  }

  .postImg h3 {
    right:0;
    top: 15%;
    font-size: 3vmax;
    position: absolute;
    padding: 0.5em;
    background-color: skyblue;
    color: lightgreen;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }

