@use '../../../Other/Styles/Styles';

.postImg {
	grid-area: PostImg;
	position: relative;
	line-height: 0;
	margin: 3.25em 1rem 0 0.5em;
	border: 2px solid Styles.$SECONDARY_COLOR;
	border-top-right-radius: 0.75rem;
	border-top-left-radius: 0.75rem;
	border-bottom: none;
}

.postImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	margin: 1em 0.5rem 0 0.5em;
	border: 2px solid Styles.$PRIMARY_COLOR;
	border-bottom: none;
}

.postImg h1 {
	z-index: 1;
	position: absolute;
	top: 25%;
	right: 0;
	font-size: Styles.$CALC_FONT_MEDIUM;
	color: Styles.$PRIMARY_COLOR;
	background-color: Styles.$TERTIARY_COLOR_MUTED;
	// Account for margin of image+box
	margin-right: -0.5rem;
	padding: 0.25em 0.5em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
