@use '../../Other/Styles/Styles';

.modalOverlay {
	display: flex;
	z-index: 11;
	justify-content: center;
	position: fixed;
	background-color: Styles.$MODAL_BACKGROUND_COLOR;
	width: 100%;
	height: 100%;
}

.modal {
	z-index: 11;
	text-align: center;
	background: Styles.$BACKGROUND_COLOR;
	max-width: 20em;
	height: max-content;
	margin: auto 0.5em;
	padding: 1em;
	border-radius: 0.5em;
}

.modal h2 {
	font-size: Styles.$LARGE_FONT;
	color: Styles.$SECONDARY_COLOR;
	margin-bottom: 0.25em;
}

.modal p {
	color: Styles.$PRIMARY_COLOR;
	margin-bottom: 1em;
}

.modal button {
	cursor: pointer;
	color: Styles.$PRIMARY_COLOR;
	background-color: Styles.$QUATERNARY_COLOR_MUTED;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.75em;
}

.modal button:hover,
.modal button:focus {
	background-color: Styles.$QUATERNARY_COLOR;
	transition: background-color 500ms ease-in-out;
}
