@use '../../../Other/Styles/GlobalStyle';

.postText {
  grid-area: PostText;
  font-family: GlobalStyle.$PRIMARY_FONT;
  color: GlobalStyle.$FONT_COLOR;
  background-color: rgb(20, 20, 25);
  margin: 0 0.5em;
  margin-bottom: 1em;
  padding: 1em 2vw 0.5vw 1.5vw;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  box-shadow: black 0 0.25em 1em;
}

.postText h1 {
  font-size: GlobalStyle.$LARGE_FONT;
}

.postText h2 {
  font-size: GlobalStyle.$MEDIUM_FONT;
}

.postText h3 {
  font-size: GlobalStyle.$SMALL_FONT;
}

.postText h4 {
  font-size: GlobalStyle.$SMALL_FONT;
}

.postText h5 {
  font-size: GlobalStyle.$SMALL_FONT;
}

.postText h6 {
  font-size: GlobalStyle.$SMALL_FONT;
}

.postText ul {
  margin: 1em 0 1em 1.5em;
}

.postText ol {
  margin: 1em 0 1em 1.5em;
}

.postText dl {
  margin: 1em 0 1em 0.25em;
}

.postText dd {
  margin: 0.25em 0 0.5em 0.5em;
}

.postText pre {
  text-align: center;
  white-space: normal;
  margin: 1em;
}

.postText code {
  display: block;
  font-size: GlobalStyle.$CALC_FONT_SMALL;
  word-wrap: break-word;
  color: GlobalStyle.$SECONDARY_COLOR;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 2em;
  border-radius: 0.5em;
}

//.postText blockquote {
//}
//

.postText p {
  font-size: GlobalStyle.$SMALL_FONT;
  text-indent: 0.5em;
  margin-bottom: 1em;
}

.postText a {
  font-size: GlobalStyle.$SMALL_FONT;
  text-decoration: none;
  color: GlobalStyle.$SECONDARY_COLOR;
}

//.postText i {
//}
//

.postText b {
  font-weight: bold;
}

.postText strong {
  font-weight: bold;
}

.postText em {
  font-style: italic;
}

.postText mark {
  background-color: GlobalStyle.$PRIMARY_COLOR;
}

@media (max-width: 600px) {
  .postText {
    font-size: GlobalStyle.$X_SMALL_FONT;
  }
}
