.postText {
	grid-area: PostText;
	font-family: Didact Gothic, serif;
	color: Gainsboro;
	padding-left: 1vw;
	padding-right: 1.5vw;
	padding-top: 1em;
}

//.postText h1 {
//}
//
//.postText h2 {
//}
//
//.postText h3 {
//}
//
//.postText h4 {
//}
//
//.postText h5 {
//}
//
//.postText h6 {
//}

.postText ul {
	margin: 1em 0 1em 1.5em;
}

.postText ol {
	margin: 1em 0 1em 1.5em;
}

.postText dl {
	margin: 1em 0 1em 0.25em;
}

.postText dd {
	margin: 0.25em 0 0.5em 0.5em;
}

p code {
	max-width: 90%;
	width: min-content;
	margin: 0 auto;
	word-wrap: break-word;
	font-size: calc(2vmin + 0.5vmax);
	display: block;
	border-radius: 0.5em;
	background: rgba(0, 0, 0, 0.5);
	padding: 2em;
	color: #be37fa;
}

//.postText blockquote {
//}
//
.postText pre {
	white-space: normal;
}

.postText p {
	font-size: 1em;
	margin-left: 0.5em;
	margin-bottom: 1em;
}

.postText a {
	color: magenta;
}

//.postText i {
//}
//
.postText b {
	font-weight: bold;
}
.postText strong {
	font-weight: bold;
}
.postText em {
	font-style: italic;
}
.postText mark {
	background-color: PaleGreen;
}

@media (max-width: 600px) {
	.postText {
		font-size: 0.75em;
	}
}
