.postText {
    grid-area: PostText;
    font-family: Didact Gothic, serif;
    color: Gainsboro;
    margin-left: 1vw;
    margin-right: 1.5vw;
    padding-top: 1em;
  }
  
  //.postText h1 {
  //}
  //
  //.postText h2 {
  //}
  //
  //.postText h3 {
  //}
  //
  //.postText h4 {
  //}
  //
  //.postText h5 {
  //}
  //
  //.postText h6 {
  //}
  
  .postText ul {
    margin: 1em 0 1em 1.5em;
  }
  
  .postText ol {
    margin: 1em 0 1em 1.5em;
  }
  
  .postText dl {
    margin: 1em 0 1em 0.25em;
  }
  
  .postText dd {
    margin: 0.25em 0 0.5em 0.5em;
  }

 p code {
   display:block;
   border-radius:.5em;
   background:rgba(0, 0, 0, 0.5);
   margin: 0 2em;
   padding: 1em 2em;
   color: #be37fa;
  }
  
  //.postText blockquote {
  //}
  //
  .postText pre {
    white-space: normal;
  }
  
  .postText p {
    margin-left:.5em;
    margin-bottom:1em;
  }
  
  .postText a {
    color: magenta;
  }
  
  //.postText i {
  //}
  //
  .postText b {
    font-weight: bold;
  }
  .postText strong {
    font-weight: bold;
  }
  .postText em {

    font-style: italic;
  }
  .postText mark {
    background-color: PaleGreen;
  }
