@use '../../../Other/Styles/GlobalStyle';

.mobileHeader {
  opacity: 0;
  position: absolute;
  top: 3.5%;
  left: 50%;
  font-size: GlobalStyle.$MEDIUM_FONT;
  transform: translateX(-50%);
}

.mobileHeader h2 {
  color: GlobalStyle.$PRIMARY_COLOR;
}

.mobileHeader a {
  color: GlobalStyle.$SECONDARY_COLOR;
}

.mobileHeader h2:hover {
  color: GlobalStyle.$PRIMARY_COLOR_MUTED;
  transition: color 0.5s;
}

@media (max-width: 770px) {
  .mobileHeader {
    opacity: 1;
  }
}
