  .name {
    margin-bottom: 2.5vw;
    text-align: center;
    grid-area: name;
  }

  .name h1 {
    text-transform: uppercase;
  }

  .name a {
    padding-top: 0.5em;
    float: left;
    font-size: calc( 1.5vmin + .75vmax);
    text-decoration: none;
    color: #222;
  }

  .T {
    margin: auto;
    font-size: 4.5em;
    height: 0.7em;
    line-height: 0.35em;
    text-indent: -3em;
    letter-spacing: -0.03em;
  }

  .A {
    margin: auto;
    font-size: 2.5em;
    text-indent: 2.5em;
    line-height: 0.5em;
    font-style: italic;
  }

  .F {
    margin: auto;
    font-size: 4.5em;
    text-indent: 4em;
    letter-spacing: .03em;
    height: 0.7em;
    line-height: 1em;
  }

  .contactInfo {
    grid-area: contactInfo;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 0.3em;
    font-size: 1em;
  }

  .address {
    padding-bottom: 0.2em;
    border-bottom: 2px solid;
  }

  .cellphone {
    padding-top: 0.2em;
    border-top: 2px solid;
  }

  .workHistory {
    grid-area: workHistory;
    margin:1vw;
  }

  .workHistory h2 {
    text-indent: -0.5em;
    padding-top: 0.25em;
    text-decoration: underline;
    text-shadow: 0 2px 3px rgba(245, 70, 170, .5);
  }

  .workHistory h3 {
    text-shadow: 0 2px 3px rgba(90,225,125, .5);
    padding-top: 1em;
  }



  .workHistory li {
    padding-bottom: 0.25em;
  }

  .education {
    grid-area: education;
    margin:1vw .5vw 0 3vw;
  }
  .education h2 {
    text-shadow: 0 2px 3px rgba(245, 70, 170, .5);
    text-decoration: underline;
    text-indent: -0.5em;
    padding-top: 0.25em;
  }

  .education h3 {
    text-shadow: 0 2px 3px rgba(90,225,125, .5);
    padding-top:.25em;
  }

  .education img {
    width: 85%;
    margin-top: .25em;

  }

.highlightImg img {
  width: 100%;
}


   .skills {
     grid-area: skills;
     margin:0 .5vw 1vw 3vw;
   }
  .skills h2 {
    text-shadow: 0 2px 3px rgba(245, 70, 170, .5);
    text-decoration: underline;
    text-indent: -0.5em;
  }
   .skills h3 {
     text-shadow: 0 2px 3px rgba(90,225,125, .5);
     padding-top:1em;
   }
   .skills ul {
     column-gap:.8em;
     column-count: 2;
   }
   .skills li {
     padding-bottom: 0.25em;
    margin-right:.5em;
   }
  .highlightImg {
    grid-area: imageHighlight;
    padding-top: 1vw;
    margin: auto;
    margin-left: .5vw;
    margin-right: .5vw;
    padding-bottom: 1vw;
  }


  .hobbies {
    grid-area: hobbies;
    border-top: 2px solid;

    border-bottom: 2px solid;
  }

  .hobbies h2 {
    text-shadow: 0 2px 3px rgba(245, 70, 170, .5);
    text-align:center;
    padding: 0;
    font-size: 1em;
  }
  .hobbies ul {
    list-style: none;
    text-align: center;
  }
  .hobbies li {
    display: inline-block;
    margin-left: 3vw;
  }

  .contact {
    grid-area: contact;
    text-align: center;
    font-size: 1.35em;
    letter-spacing: 0.3em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }

  .workHistory h3:first-of-type {
    padding-top:.25em;
  }
  .skills h3:first-of-type{
    padding-top:.25em;
  }

  @media only screen and (max-width: 1200px) {
    .highlightImg img {
      width: 100%;
      margin: 0.5em 0;
    }
    .workHistory li {
      font-size:.9em;
    }

    .skills li {
      font-size:.8em;
    }
  }

@media only screen and (max-width: 910px) {
  .name h1 {
    font-size: calc(4vmin + 5vmax);
  }
  .name h1:nth-of-type(2) {
    font-size: calc(3vmin + 4vmax);
  }

}

  @media only screen and (max-width: 720px) {
    .name h1 {
      font-size: calc(4vmin + 3vmax);
    }
    .name h1:nth-of-type(2) {
      font-size: calc(3vmin + 2vmax);
    }
    .address {
      font-size: 0.8em;
    }
    .cellphone {
      font-size: 0.8em;
    }
    .contact {
      font-size: 0.8em;
      letter-spacing: 0.3em;
    }
    .highlightImg img {
      margin: 0.5em 0;
    }

    .hobbies li {
      padding-top: 0em;
      font-size: 0.8em;
    }

    .workHistory li {
      padding-top: 0em;
      font-size: 0.8em;
    }

    .education {
      margin:1vw;
    }

    .education p {
      padding-top: 0em;
      font-size: 0.8em;
    }

    .skills{
      margin:1vw;
    }

    .skills li {
      padding-top: 0em;
      font-size: 0.8em;
    }
  }
