@use '../../Other/Styles/GlobalStyle';

.imageBanner {
  grid-area: ImageBanner;
  user-select: none;
  width: 100%;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.imageBanner h1 {
  z-index: 1;
  position: absolute;
  font-size: GlobalStyle.$CALC_FONT_IB;
  text-align: center;
  color: GlobalStyle.$TERTIARY_COLOR;
  width: 100%;
  padding-top: 10vh;
}

.imageBanner img {
  background-position: center;
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  background-size: cover;
}

@media ( max-width: 550px ) {

  .imageBanner h1 {
    padding-top: 10vh;
  }
}
