.imageBanner {
    -webkit-overflow-scrolling: touch;
    background: rgb(185, 185, 185);
    height: 100vh;
    width: 100%;
    grid-area: ImageBanner;
  }
  .imageBanner h1 {
    font-size: 8em;
    text-align: center;
    color: Steelblue;
    margin-top: 15vh;
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 0;
    animation: iBFadeInOut 8s linear infinite 0s;
  }
  
  .imageBanner img {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    opacity: 0;
    animation: iBFadeInOut 8s linear infinite 0s;
  }
  
  @keyframes iBFadeInOut {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
  
    17% {
      opacity: 1;
    }
  
    35% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @media (max-width: 550px) {
    .imageBanner h1 {
      font-size: 5em;
    }
  }
  