@use '/components/Other/Styles/GlobalStyle';

.tagList {
  grid-area: PostTags;
  color: GlobalStyle.$PRIMARY_COLOR;
  background-color: GlobalStyle.$SECONDARY_COLOR;
  // weird margin to line up with Image :/
  margin-right: .53rem;
  margin-left: .5em;
  border-right: 2px solid GlobalStyle.$PRIMARY_COLOR;
  border-bottom: 2px solid GlobalStyle.$PRIMARY_COLOR;
  border-bottom-right-radius: .5em;
  list-style: none;
  padding-inline-start: 2vw;
}

.tagList li {
  float: left;
  margin-right: .5em;
}
