.postTags {
    grid-area: PostTags;
    list-style: none;
    padding-inline-start: 2vw;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: magenta;
  }
  .postTags li {
    float: left;
    margin-right: 0.6em;

  }

  .postTags li a {
    text-decoration: none;
    color: springgreen;
  }
