@use '../Other/Styles/GlobalStyle';

.form>form {
  display: flex;
  flex-direction: column;
  background-color: GlobalStyle.$SECONDARY_COLOR_MUTED;
  max-width: 100vw;
  width: max-content;
  margin: 0 auto 0.75em auto;
  padding: 0 6vw 5vw 6vw;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.form form h1 {
  font-size: GlobalStyle.$LARGE_FONT;
  color: GlobalStyle.$PRIMARY_COLOR;
  margin-top: 2em;
}

.form input,
.form textarea {
  opacity: 0.5;
  color: GlobalStyle.$PRIMARY_COLOR;
  background-color: GlobalStyle.$BACKGROUND_COLOR;
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
  border-bottom: 2px solid GlobalStyle.$SECONDARY_COLOR;
  outline: none;
  transition: opacity 500ms ease-in-out;
}

.name,
.email {
  height: 3em;
  margin-bottom: 1em;
}

.message {
  max-height: 10em;
  height: 25vh;
  margin-bottom: 2.25em;
}

.message textarea {
  resize: none;
  height: 100%;
}

.form input:valid,
.form textarea:valid {
  opacity: 1;
}

.name input:focus,
.email input:focus,
.message textarea:focus {
  opacity: 1;
}

.submit {
  color: GlobalStyle.$SECONDARY_COLOR;
  background-color: GlobalStyle.$BACKGROUND_COLOR;
  width: min-content;
  margin: 0 auto;
  padding: 0.5em 3em;
  border: none;
  border-radius: 0.75em;
  transition: opacity 500ms ease-in-out;
}

.submit:disabled {
  opacity: 0.5;
}

.submitError {
  width: max-content;
  margin: 0 auto;
}

.error {
  color: GlobalStyle.$QUATERNARY_COLOR;
}

@media (max-width: 770px) {
  .form {
    padding-top: 0;
  }

  .message {
    margin-bottom: 2.25em;
  }
}