.postList {
    width: 100%;
    height: 100%;
    grid-area: PostList;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: .5em;
}

.postList > article {
    flex: 1 3 30%;
    margin:.25em;
    height:20em;

}

.postList article:nth-child(1) {
    flex: 1 3 100%;
}
.postList article:nth-child(2n) {
  flex: 1 3 25%;
}

.postList article:hover {
  flex-basis: 35%;
}
.postList article:nth-child(1):hover {
    flex-basis: 100%;
}



  @media (max-width: 1000px) {

    .postList > article {
      flex: 1 3 30%;
    }

    .postList article:nth-child(3n) {
      flex: 1 3 46%;
    }

    .postList article:hover {
      flex-basis: 45%;
    }

    .postList article:nth-child(3n):hover {
      flex-basis: 50%;
    }
  }

  @media (max-width: 600px) {
    .postList {
      flex-direction: column;
      flex-wrap: nowrap;
     height:100%;
      padding:.25em;
    }
    .postList > article:nth-child(n) {
      flex-basis: 8em;
    }

    .postList > article:nth-child(n):hover {
      flex-basis: 12em;
    }
  }
