.avatar {
    float:right;
    margin:1em 2.5em .25em 1em;
    position: relative;
    object-fit: fill;
    object-position: bottom;
    width: 120px;
    height: 132.5px;
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .avatar img {
    width: 100%;
    height: 100%;
  }
  