* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .recent {
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
    box-shadow: 0em 0em 10em black;
    padding: 0.75em;
    margin: 0.25em;
    transition: flex-basis 350ms ease-in-out;
  }
.detailsList {
  color: rgb(115, 5, 45);
  width: 100%;
  opacity: 0;
  list-style: none;
  padding-right: 0.5em;
  font-size: 1em;
  line-height: 1.5em;
}


.recent:hover .detailsList {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
  }
  .title {
    width: 100%;
    font-size: 1.5em;
    color: rgb(115, 5, 45);
  }
.detailsList li {
  padding-left: 0.6em;
}


.detailsList li:nth-child(1) {
    padding-left: 0.25em;
  }
  
