.recent {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 0.25em;
    box-shadow: 0em 0em .75em black;
    transition: flex-basis 350ms ease-in-out;
  color: rgb(115, 5, 45);
  }

.title {
  width: 100%;
  padding:0.5em 1em 0 .5em;
  font-size: 1.5em;
}

.detailsList {
  width: 100%;
  opacity: 0;
  list-style: none;
  padding-left: .5em;
  padding-right:.5em;
  font-size: 1em;
  line-height: 1.5em;
}


.recent:hover .detailsList {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
  }

.detailsList li {
  padding-left: 0.5em;
}


.detailsList li:nth-child(1) {
    padding-left: 0.25em;
  }

