.videoList {
  grid-area: videoList;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.videoList > article {
  flex: 1 3 auto;
  width: 30%;
  transition: all 350ms ease-in-out;
  transition-property: height, width;
}

.videoList article:nth-child( 1 ) {
  flex: 1 3 auto;
  width: 100%;
}

.videoList article:nth-child( 2n ) {
  flex: 1 3 auto;
  width: 25%;
}

.videoList article:hover {
  flex-basis: auto;
  width: 30%;
}

.videoList article:nth-child( 1 ):hover {
  flex-basis: auto;
  width: 100%;
}

@media ( max-width: 1000px ) {

  .videoList > article {
    flex: 1 3 auto;
    width: 30%;
  }

  .videoList article:nth-child( 3n ) {
    flex: 1 3 auto;
    width: 45%;
  }

  .videoList article:hover {
    flex-basis: auto;
    width: 45%;
  }

  .videoList article:nth-child( 3n ):hover {
    flex-basis: auto;
    width: 50%;
  }
}

@media ( max-width: 600px ) {

  .videoList {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .videoList > article:nth-child( n ) {
    flex-basis: auto;
    width: 100%;
    height: 9.5em;
  }

  .videoList > article:nth-child( n ):hover {
    flex-basis: auto;
    width: 100%;
    height: 12em;
  }
}
