 .footer {
    grid-area: Footer;
    width:100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgb(190, 55, 250);
   padding-bottom: .5em;
  }

 .footer h3, a  {
   margin: auto 1em;
   color: rgb(190, 55, 250);
   text-decoration: none;
 }

 .footer h3:hover{
  color: #af0a6e;
   transition: 0.5s ease-in-out;
 }

  .footer ul {
    list-style: none;
    column-count: 2;
  }

  .footer li {
    cursor: pointer;
    margin: auto 0;
    color: rgb(0, 255, 170);
  }

  @media (max-width: 920px) {
    .footer {
      padding-top: 0.25em;
      flex-direction: column;
      text-align: center;
    }
    .footer ul {
      margin: 0 auto;

    }
  }
