@use '../Other/Styles/GlobalStyle';

.footer {
  grid-area: Footer;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid GlobalStyle.$SECONDARY_COLOR;
}

.footer h3 {
  padding-bottom: 2.5rem;
  color: GlobalStyle.$SECONDARY_COLOR;
  margin: auto 0;
}

@media (max-width: 920px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}