@use '../Other/Styles/GlobalStyle';

.nav {
  z-index: 10;
  position: fixed;
  right: 0;
  left: 0;
  text-decoration: none;
  background: GlobalStyle.$NAV_COLOR;
  width: min-content;
  height: min-content;
  margin: 0.25em auto;
  border-radius: 0.75em;
  box-shadow: 0 0 0.5em GlobalStyle.$SECONDARY_COLOR;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav li {
  cursor: pointer;
  user-select: none;
  font-size: GlobalStyle.$MEDIUM_FONT;
  color: GlobalStyle.$PRIMARY_COLOR;
  padding: 0.25em;
}

.nav ul a {
  border-right: 1px solid GlobalStyle.$SECONDARY_COLOR;
}

.nav a:hover {
  background: GlobalStyle.$PRIMARY_COLOR_MUTED;
  transition: background 0.5s ease-in-out;
}

.nav ul a:first-child {
  border-radius: 0.75em 0 0 0.75em;
}

.nav ul a:last-child {
  border-radius: 0 0.75em 0.75em 0;
  border-right: none;
}
/* Set properties for mobile menu in desktop mode */

.menu {
  display: none;
}

@media (max-width: 770px) {
  .nav {
    width: min-content;
    margin: 0.5em 0.5em;
  }
  /* Set mobile menu visible */

  .menu {
    display: inline-block;
    font-size: GlobalStyle.$X_SMALL_FONT;
    background: GlobalStyle.$NAV_COLOR;
    padding: 0.25em;
    border-radius: 0.5em;
  }
  /* Set navigation bar menu properties */

  .nav ul,
  .nav:active ul {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 2.5em;
    left: 0.5em;
    background: GlobalStyle.$NAV_COLOR;
    border-radius: 0 0.5em 0.5em 0.5em;
    transition: visibility 0s, opacity 0.5s;
  }

  .nav:hover ul,
  .nav:active:hover ul {
    visibility: visible;
    opacity: 1;
  }

  .nav ul a {
    font-size: GlobalStyle.$X_SMALL_FONT;
    border-right: none;
    border-bottom: 1px solid GlobalStyle.$SECONDARY_COLOR;
  }

  .nav ul a:first-child {
    border-radius: 0 0.5em 0 0;
  }

  .nav ul a:last-child {
    border-radius: 0 0 0.5em 0.5em;
    border-bottom: none;
  }
}
