 nav {
    width: min-content;
    height:min-content;
    left: 0;
    right: 0;
    margin: 0.25em auto;
    position: fixed;
    z-index: 5;
    background: rgba(45, 105, 165, 0.7);
    border-radius: .75em;
    box-shadow: 0 0 0.5em rgb(190, 55, 250);
   text-decoration: none;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  nav li {
  cursor: pointer;
  font-size: 1.25em;
  padding: 0.35em;
  color: rgb(0, 255, 170);
  border-right: 1px solid rgb(190, 55, 250);
  }
  nav li:hover {
  transition: background 0.5s ease-in-out;
  background: rgba(10, 210, 140, 0.3);
  }
  nav ul li:first-child {
    border-radius: 0.55em 0 0 0.55em;
  }
  nav ul li:last-child {
    border-right:none;
    border-radius: 0  0.55em 0.55em 0;
  }
  /* Set properties for mobile menu in desktop mode */
  .menu {
    display: none;
  }

  @media (max-width: 770px) {
    nav {
      width:min-content;
      margin: 0.25em 0.25em;

    }
    /* Set mobile menu visible */
    .menu {
      font-size: 1.25em;
      padding: 0.25em;
      display: inline-block;
      border-radius: 0.5em;
    }

    /* Set navigation bar menu properties */
    nav ul,
    nav:active ul {
      opacity: 0;
      position: absolute;
      flex-direction: column;
      left: 0.5em;
      border-radius: 0 0.5em 0.5em 0.5em;
      background: rgba(45, 105, 165, 0.7);
      top:2.25em;
      transition: opacity 0.5s ease-in-out;
    }
    nav:hover ul {
      opacity: 1;
    }
    nav ul li {
      border-right:none;
      border-bottom: 1px solid rgb(190, 55, 250);
    }
    nav ul li:first-child {
      border-radius: 0 0.25em 0 0;
    }
    nav ul li:last-child {
      border-bottom:none;
      border-radius: 0 0 0.25em 0.25em;
    }
  }
