.postAbout {
	padding-top: 0.5em;
	margin: 0 0.5em 0.5em 0.25em;
	height: auto;
	border-radius: 0.25em;
	box-shadow: 0em 0em 5em black;
	background-color: rgb(51, 131, 247);
}
.postAbout img {
	padding-right: 0.25em;
}
.postAbout > div {
	margin: auto;
}

.postAbout p {
	font-size: 0.8em;
	color: rgb(0, 255, 170);
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.postAbout a {
	color: rgb(190, 55, 250);
	margin-top: 1em;
	padding: 0.5em;
}

.postAbout a:hover {
	color: #af0a6e;
	transition: 0.5s ease-in-out;
}
