@use '../../../Other/Styles/GlobalStyle';

.postAbout {
  text-align: center;
  background-color: GlobalStyle.$TERTIARY_COLOR;
  margin: 0.5em 1em;
  padding: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0em 0em 5em GlobalStyle.$BOXSHADOW_COLOR;
}

.postAbout > div {
  float: none;
  margin: 0 auto;
}

.postAbout p {
  font-size: GlobalStyle.$X_SMALL_FONT;
  color: GlobalStyle.$PRIMARY_COLOR;
}

.postAbout a {
  text-decoration: none;
  color: GlobalStyle.$SECONDARY_COLOR;
}

.postAbout a:hover {
  color: GlobalStyle.$SECONDARY_COLOR_MUTED;
  transition: 0.25s ease-in-out;
}
