@use '../../../Other/Styles/Styles';

.postAbout {
  text-align: center;
  background-color: Styles.$TERTIARY_COLOR;
  margin: .5em 1em;
  padding: .5em;
  border-radius: .25em;
  box-shadow: 0em 0em 5em Styles.$BOXSHADOW_COLOR;
}

.postAbout > div {
  float: none;
  margin: 0 auto;
}

.postAbout p {
  font-size: Styles.$X_SMALL_FONT;
  color: Styles.$PRIMARY_COLOR;
}

.postAbout a {
  text-decoration: none;
  color: Styles.$SECONDARY_COLOR;
}

.postAbout a:hover {
  color: Styles.$SECONDARY_COLOR_MUTED;
  transition: .25s ease-in-out;
}
