.aboutCardImg {
	width: calc(50% + 1px);
	height: 100vh;
	margin: 0 auto 1px 0;
	position: sticky;
	top: 0;
	overflow-x: hidden;
	box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
	object-fit: cover;
	object-position: center;
}

.aboutCardText {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: normal;
	background: rgb(22, 22, 31);
	color: rgb(0, 255, 136);
	width: calc(50% + 1px);
	height: 100vh;
	margin: 0 0 1px auto;
	position: sticky;
	overflow-x: hidden;
	top: 0;
	box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
}
.aboutCardImg:nth-of-type(1),
.aboutCardText:nth-of-type(1) {
	width: 50%;
}

.aboutCardImg:last-of-type,
.aboutCardText:last-of-type {
	margin-bottom: 0;
}

.aboutCardText h2 {
	margin: 15vh 0.25em auto 0.25em;
	padding-bottom: 2.5em;
	line-height: 1em;
	font-family: serif;
	font-size: calc(4vmin + 3vmax);
	text-align: center;
}
.aboutCardText p {
	text-align: right;
	font-family: serif;
	font-style: italic;
	font-size: calc(1.5vmin + 1.75vmax);
	margin: 0 0.5em 2vw 0.25em;
}

/* Mobile site formatting begins here */
@media only screen and (max-width: 660px) {
	.aboutCardImg {
		position: relative;
		min-width: 100%;
	}
	.aboutCardText {
		position: relative;
		min-width: 100%;
	}

	.aboutCardText h2 {
		margin: 10vw 0.5em auto 0.25em;
	}
	.aboutCardText p {
		margin: 0 0.5em 10vw 0.25em;
	}
}
