@use '../../Other/Styles/GlobalStyle';

.bio {
  grid-area: Bio;
}

.bio h3 {
  color: GlobalStyle.$SECONDARY_COLOR;
  margin: 1em 0.5em;
}

.bio p {
  color: GlobalStyle.$PRIMARY_COLOR;
  margin: 1em;
}

.bio p:last-of-type {
  padding-bottom: 4em;
}

.bio > div {
  margin: 2.5% 3% 0.5% 1.5%;
}

@media (max-width: 550px) {
  .bio h3 {
    margin: 0.75em 0 0 0.75em;
  }

  .bio p {
    font-size: GlobalStyle.$X_SMALL_FONT;
    margin: 0.5em 0.75em 0.75em 0.75em;
  }
}
