.bio {
  grid-area: Bio;
  position: relative;
}

.bio h3 {
  color: rgb(190, 55, 250);
  width: 80%;
  margin: 1em .5em;
}

.bio p {
  color: rgb(0, 255, 170);
  margin: 1em;
}

.bio p:last-of-type {
  padding-bottom: 2.5em;
}

.bio .avatar img {
  position: absolute;
}

@media ( max-width: 550px ) {

  .bio h3 {
    margin: .75em 0 0 .75em;
  }

  .bio p {
    font-size: .8em;
    margin: .5em .75em .75em .75em;
  }
}
