.bio {
    grid-area: Bio;
    position:relative;
    width: 100%;
    margin-bottom: 3em;
  }
  
  .bio h3 {
    width: 80%;
    margin: 1em;
    color: greenyellow;
  }
  
  .bio p {
    margin: 1em;
    color: greenyellow;
  }
  
  .bio .avatar img {
    position:absolute;
  }
  
  @media (max-width: 550px) {
    .bio h3 {
      margin: 0.5em;
    }
    .bio p {
      margin: 0.75em;
    }
  }
  