@use '../Styles/GlobalStyle';

.modalContainer {
  // Make it the same as CommentList it replaces
  grid-area: CommentList;
  text-align: center;
  margin-right: 0.5em;
  margin-bottom: 1em;
  padding: 2em;
  border: 1px solid GlobalStyle.$PRIMARY_COLOR;
  border-radius: 0.25em;
}

.modalHeader {
  color: GlobalStyle.$SECONDARY_COLOR;
  margin-bottom: 0.5em;
}

.modalToggle {
  background: GlobalStyle.$QUATERNARY_COLOR_MUTED;
  padding: 0.25em;
  border: 0;
  border-radius: 0.25em;
  transition: background 250ms ease-in-out;
}

.modalToggle:hover {
  background: GlobalStyle.$QUATERNARY_COLOR;
}

.modalOverlay {
  display: flex;
  z-index: 11;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: GlobalStyle.$MODAL_BACKGROUND_COLOR;
  width: 100%;
  height: 100%;
}

.modal {
  z-index: 11;
  text-align: center;
  background: GlobalStyle.$BACKGROUND_COLOR;
  max-width: 20em;
  height: max-content;
  margin: auto 0.5em;
  padding: 1em;
  border-radius: 0.5em;
}

.modal h2 {
  font-size: GlobalStyle.$LARGE_FONT;
  color: GlobalStyle.$SECONDARY_COLOR;
  margin-bottom: 0.25em;
}

.modal p {
  color: GlobalStyle.$PRIMARY_COLOR;
  margin-bottom: 1em;
}

.modal button {
  cursor: pointer;
  color: GlobalStyle.$PRIMARY_COLOR;
  background-color: GlobalStyle.$QUATERNARY_COLOR_MUTED;
  margin: 0.25em;
  padding: 0.5em;
  border: none;
  border-radius: 0.75em;

  > img {
    width: 1em;
    margin-top: 0.2em;
  }
}

.modal button:hover,
.modal button:focus {
  background-color: GlobalStyle.$QUATERNARY_COLOR;
  transition: background-color 500ms ease-in-out;
}
